* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    
}
:root {
    --blue: #1f8bdd;
    --red: rgb(228, 81, 76);
    --purple: rgb(216, 212, 232);
    --grey: #9b98aa;

}
/* :root {
    --pink: #f3c2b8;
    --orange: #db7b65;
    --yellow: #e4b162;
    --blue: #2b6a70;
    --purple: #75566b;
} */


body {
    font-family: 'Space Mono', monospace; 
    background-image: url(../images/aesthetic-minimal-white-grid-pattern-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#background-transparent {
    background-color:rgba(216, 212, 232, 90%);

}

/* <HEADER> STYLES */
header {
    padding: 1.25rem 2.1875rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-shadow: 0 0 .25em rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(228, 81, 76,100%)

    
}
header h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    text-decoration: none;
}
header a {
    text-decoration: none;
    color: var(--red); 
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

header nav ul li {
    margin: 0 1.875rem;
    font-weight: lighter;
    font-size: 1.375rem;
    list-style: none;
}

/* HERO STYLES */
    .hero h1 {
        font-family: "DM Serif Display", serif;
        position: flex;
        flex-wrap: wrap;
        font-size: 20vw;
        line-height: 1.25;
        color: var(--blue);
    }

/* ABOUT ME SECTION STYLES */




/* MEDIA QUERIES */
